<div class="container">
  <div class="card shadow mb-4">                   
    <div class="card-body"> 

  
      <div *ngIf="restaurants.length === 0">
        <h1>Aucun restaurant trouvé !</h1>
      </div>

    
      <div *ngIf="restaurants.length > 0">
        <h1>Nombre : {{ restaurants.length }}</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>N°</th>
              <th>Id</th>
              <th>Nom</th>
              <th>Note</th>
              <th>Date Ouverture</th>
              <th>Specialite</th>
              <th>Actions</th>
              
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let restaurant of restaurants; let index = index">
              <td>{{ index + 1 }}</td>
              <td>{{ restaurant.idRestaurant }}</td>
              <td>{{ restaurant.nomRestaurant }}</td>
              <td>{{ restaurant.noteRestaurant }}</td>
              <td>{{ restaurant.dateOuverture | date:'dd/MM/yyyy' }}</td>
              <td>{{ restaurant.specialite?.nomSpec || restaurant.nomSpec || 'PAS DE SPÉCIALITÉ' }}</td>
               <td><a class="btn btn-danger" (click)="supprimerRestaurant(restaurant)">Supprimer</a>
              </td> 
               <td><a class="btn btn-success" [routerLink]="['/updateRestaurant',restaurant.idRestaurant]">Modifier</a></td>
            </tr>                                  
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>